*.swp
*.swo
*.swn
*.pyc
.coverage
.DS_Store
raw-file-versions
file-versions
event-upload-versions
supplier-document
htmlcov
*.ipynb
.project
.pydevproject
.settings
*/local_settings.py
catalogs
uploads
.idea
eim/whoosh_index
htmlcov
filer_public
dump
htmlcov
scripts/

